@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>


<h3>Bienvenido a mi pagina en desarrollo, gracias por ver mi pagina:</h3> 
<p>puedes navegar en mi pagina y dar algunas sugerencias de mejoras </p>

<img class="img-fluid "
	src=https://img.freepik.com/fotos-premium/experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010151.jpg
<h3>Una frace  motivadora para ti : </h3>

<p>"Aprender a programar es como resolver un rompecabezas infinito: cada pieza que encajas te acerca más a convertir tus ideas en realidad."</p>